.first{
    background-color: blue;
}
.second{
    background-color: red;
}
.third{
    background-color: green;
}
.first1{
    background-color: gray;
}
.first2{
    background-color: pink;
}
.first3{
    background-color: black;
}

